<ion-header>
  <ion-toolbar>
    <ion-title>news-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-text>This is News Page</ion-text> -->

  <ion-card>
    <ion-card-content>
      <!-- <div class="newsImage">
        <img src="../../assets/1.png" alt="">
      </div>
      <div class="newsDetails">
        <ion-card-header>News Title</ion-card-header>
        <ion-text> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod obcaecati a voluptatibus sequi, ducimus, ipsam dignissimos ipsa quam quibusdam nemo expedita. Cumque nulla at voluptatum?</ion-text>
      </div> -->


      <ion-grid>
        <ion-col size="3">
            <img src="../../assets/1.png" alt="">
        </ion-col>
        <ion-col size="9">
          <ion-row>
            <ion-card-header>News Title</ion-card-header>
          </ion-row>
          <ion-row>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae sit esse ex eum nostrum deserunt repellendus perspiciatis fugit enim est rerum, sint repudiandae recusandae natus?</p>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card>
    <ion-card-content>
      <img src="../../assets/1.png" alt="">
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

  </ion-card>
  <ion-card>
    <ion-card-content>
      <img src="../../assets/1.png" alt="">
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

  </ion-card>
  <ion-card>
    <ion-card-content>
      <img src="../../assets/1.png" alt="">
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

  </ion-card> -->



</ion-content>
